[Desktop Entry]
Version=1.0
Name=Genex Core
Comment=Connect to the Genex P2P Network
Comment[de]=Verbinde mit dem Genex peer-to-peer Netzwerk
Comment[fr]=Genex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Genex, eşten eşe kriptografik sanal para birimi
Exec=genex-qt %u
Terminal=false
Type=Application
Icon=genex128
MimeType=x-scheme-handler/genex;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Genex-qt
