policy_module(genex, 1.100.1)

########################################
#
# Declarations
#

type genex_t;
type genex_exec_t;
init_daemon_domain(genex_t, genex_exec_t)

permissive genex_t;

type genex_initrc_exec_t;
init_script_file(genex_initrc_exec_t)

type genex_conf_t;
files_type(genex_conf_t)

type genex_var_lib_t;
files_type(genex_var_lib_t)

type genex_var_run_t;
files_type(genex_var_run_t)

type genex_port_t;
corenet_port(genex_port_t)

########################################
#
# genex local policy
#
allow genex_t self:process { fork };

allow genex_t self:fifo_file rw_fifo_file_perms;
allow genex_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(genex_t, genex_conf_t, genex_conf_t)
manage_files_pattern(genex_t, genex_conf_t, genex_conf_t)

manage_dirs_pattern(genex_t, genex_var_lib_t, genex_var_lib_t)
manage_files_pattern(genex_t, genex_var_lib_t, genex_var_lib_t)
files_var_lib_filetrans(genex_t, genex_var_lib_t, { dir file })

manage_dirs_pattern(genex_t, genex_var_run_t, genex_var_run_t)
manage_files_pattern(genex_t, genex_var_run_t, genex_var_run_t)

sysnet_dns_name_resolve(genex_t)
corenet_all_recvfrom_unlabeled(genex_t)

allow genex_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(genex_t)
corenet_tcp_sendrecv_generic_node(genex_t)
corenet_tcp_sendrecv_all_ports(genex_t)
corenet_tcp_bind_generic_node(genex_t)

gen_require(`
    type genex_port_t;
')
allow genex_t genex_port_t:tcp_socket name_bind;

gen_require(`
    type genex_port_t;
')
allow genex_t genex_port_t:tcp_socket name_connect;

domain_use_interactive_fds(genex_t)

files_read_etc_files(genex_t)

miscfiles_read_localization(genex_t)

sysnet_dns_name_resolve(genex_t)

allow genex_t genex_exec_t:file execute_no_trans;
allow genex_t self:process setsched;
corecmd_exec_ls(genex_t)
corenet_tcp_connect_http_port(genex_t)
dev_read_urand(genex_t)
fs_getattr_xattr_fs(genex_t)
kernel_read_system_state(genex_t)
